
body {
    background-color:black; 
    margin: 0;
    padding: 0;
   }


.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 8px;
    justify-content: center; 
   
}
/* barra inicio, pokedex,jugar,acerca de */
.menu button{
    color: rgb(231, 229, 231);
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    width: 100%;  
}

.menu .inicio {
    background-color: rgb(155, 241, 98);
    font-family: 'Luckiest Guy', cursive;

}
.menu .iniciopokedex {
    background-color: rgb(250, 7, 19);
    font-family: 'Luckiest Guy', cursive;
}
.menu .inicioJugar {
    background-color: rgb(129, 129, 241);
    font-family: 'Luckiest Guy', cursive;
}
.menu .inicioAcercade{
    background-color: orange;
    font-family: 'Luckiest Guy', cursive;
}


.pokedex_header {
    padding: 5px;
    margin: 0.5 em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

form{
    display: flex;
}
img{
    max-width: 100%;
}

/* buscador */
.pokedex_header form input{
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 5px 5px;
    width: 500px;
    height: 1.5rem;
    margin-top: 18px;
}

/* bnt pokebola */
.pokedex_header form button{
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.btnRefresh{
    width: 90px;
    height: 90px;
    background: transparent;
    border-radius:50%;
    margin-left: 10px;
    cursor: pointer;
    color: #52fd00;
    font-family: 'Righteous', cursive;
    font-size: 1.2em;
    padding-top: 10px;
   

}
/* opciones filtrado*/

.navoption {
    color: rgb(207, 108, 9);
    background-color: transparent;
    padding-top: 1rem;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}

/*pokemones*/
.containerPokemon {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/*cartasdel pokemon*/
.card-pokemon {
    border: 6px ridge #efb810;
    border-radius: 10px;
    width: 10rem;
    height: 17rem;
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
    position:relative;
    z-index: 1;           
}

.card-pokemon:hover{
    transform: scale(1.1); 
    cursor: url(images/pokebola01.png) ;
    filter: drop-shadow(-2px 2px 20px rgba(243, 240, 91, 0.7));
}
.card-pokemon .img-content{
    /* filter: drop-shadow(-2px 2px 20px rgba(0, 0, 0, 0.7)); */
    filter:saturate(200%);
    position: relative;
    z-index: 2; 
}
.card-pokemon .numberPokemon{
    font-family: 'Pacifico', cursive;
    
}
.card-pokemon .namePokemon{
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: rgb(17, 17, 17);
}

.card-pokemon .typePokemon{
    font-family: 'Righteous', cursive;
    color:rgb(66, 62, 62);
    font-weight: bolder;
}

/* style filtar */
li{
    list-style: none; 
}
.submenu option{
   
   margin: 0;
   padding-left: 20px;
   padding-right: 30px;
   background: #424442;
   }

   
   /* submenu deplegable por tipo*/

.submenu{
    position: relative;
    width: 80%;
    text-transform: uppercase;
    font-size: 1em;
    transition: all 0.3s;
    overflow: visible;
    height: 0;
    z-index: 3;
    margin-left: -200%; 
    visibility: hidden;  
    margin-top: 10px;
   }

.submenu option {
    padding: 10px;
    color:rgb(252, 205, 76);
    display: block;
    font-family: 'Righteous', cursive;
   
}
.submenu .filtertype:hover{
    visibility: visible;
    opacity: 1;
    background-color: #333332;
    width: 100%;

    

}
.show{
    margin-left: -30%;
    visibility: visible;
}
#messageEstadistic{
    font-family: 'Bungee', cursive;
    font-size: 25px;
    align-content: center;
    color:  #efb810;
    

}
#message{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 50%;
    
    margin-left: 20%;


}