

body {
    background-color: black;
}

    
.menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1050px;
    align-items: center;
    margin: auto;
    padding: 8px;
    justify-content: center;
    
  
    
}
.menu button{
    color: rgb(231, 229, 231);
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    
}
.menu .inicio {
    background-color: rgb(218, 68, 106);
    font-family: 'Luckiest Guy', cursive;

}
.menu .iniciopokedex {
    background-color: rgb(53, 247, 53);
    font-family: 'Luckiest Guy', cursive;
}
.menu .inicioJugar {
    background-color: orange;
    font-family: 'Luckiest Guy', cursive;
}
.menu .inicioAcercade{
    background-color: blue;
    font-family: 'Luckiest Guy', cursive;
}
.pokedex_header {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
   
}
form{
    display: flex;
}
img{
    max-width: 100%;
}
.pokedex_header form input{
    padding: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px 5px;
    width: 500px;
}
.pokedex_header form button{
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.navoption {
    color: rgb(207, 108, 9);
    background-color: transparent;
    padding-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}
.containerPokemon {
    color: white;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.card-pokemon {
    border: 6px ridge #efb810;
    border-radius: 10px;
    width: 10rem;
    margin: 15px;
    padding: 20px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
    
}
.card-pokemon:hover{
    transform: scale(1.1);
}
.card-pokemon .img-content{
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
    
}
.card-pokemon .namePokemon{
    font-family: 'Bungee', cursive;
    font-size: 18px;
    color: rgb(17, 17, 17);
}
.card-pokemon .numberPokemon{
    font-family: 'Pacifico', cursive;
    
}
.card-pokemon .typePokemon{
    font-family: 'Righteous', cursive;
    color:rgb(66, 62, 62);
    font-weight: bolder;
}